h1{text-align: center;}
body{width: 960px; margin: auto;}
#div1{width: 260px; float: left;}
#div2{width: 700px; float: right;}
#ul1 {display: grid;
    grid-template-columns: auto auto auto; list-style: none; padding-inline-start: 0px; padding-left: 5px;}